.upload {
	width: 70%;
	margin: 0 auto;
	/*text-align: center;*/
}
.upload p {
	font-size: 18px;
	font-weight: bold;
}
form * {
	float: left;
}
form input {
	padding: 6px 0;
}
form {
	clear: both;
	overflow: hidden;
	margin-bottom: 30px;
}
table {
	width: 70%;
	margin: 0 auto;
}
table tr td,
table tr th {
	width: 10%;
	text-align: center;
	padding: 5px 0;
	border: 1px solid #000;
}
table th {
	background-color: #777
}
table tr:nth-child(even) {
	background-color: #aaa;
}