<!DOCTYPE html>
<html lang="en" id="ng-app" data-ng-app="test">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body data-ng-controller="mainCtrl">
	<div class="upload">
		<p>Upload data file:</p>
		<form>
			<input type="file" id="file" onchange="angular.element(this).scope().uploadForm(this)">
			<button data-ng-click="uploadFiled()" class="btn btn-default">Download file</button>
		</form>
	</div>

	<table>
		<tr data-ng-repeat="parse in parsedFile">
			<td data-ng-repeat="par in parse">{{par}}</td>
		</tr>
	</table>
<script data-main="js/main"
    type="text/javascript"
    src="js/require.js"></script>
</body>
</html>